
.example-card {
    width: 400px;
    margin-top: 25px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.primary{
    color: #673ab7;
}

.large{
    font-size: 150%;
}

.center{
    padding: 0 112px;
}