#navbar{
    margin-bottom: 50px !important;
}

a:hover{
    text-decoration: none;
}

.nav-icon{
    height: 50px;
    width: 50px;    
}

.nav-button{
    margin: 1rem;
}

.mat-tab-links{
    height: 5rem;
}
