#navbar{
    margin-bottom: 50px !important;
}

button{
    outline:none !important;
}

a:hover{
    text-decoration: none;
}

.nav-icon{
    height: 50px;
    width: 50px;    
}

.profile-icon{
    border-radius: 15px;
    margin-right: 0.5rem;
    height: 50px;
    width: 50px;
}

.nav-button{
    margin: 1rem;
}

.mat-tab-links{
    height: 5rem;
}