<mat-tab-group color="primary" backgroundColor="primary" mat-align-tabs="end">
  <mat-tab label="PREBUILD CHECKOUT FLOW">
    <app-prebuild-checkout></app-prebuild-checkout>
  </mat-tab>
  <mat-tab label="CUSTOM PAYMENT FLOW">
    <app-custom-payment></app-custom-payment>
  </mat-tab>
  <mat-tab label="SUBSCRIPTION">
    <app-subscription></app-subscription>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span style="padding-bottom:5px;" (click)="gotoDashboard()"> STRIPE DASHBOARD<mat-icon inline="true">launch</mat-icon></span> 
    </ng-template>
  </mat-tab>
</mat-tab-group>