<mat-card class="example-card">
    <img mat-card-image [src]="product.ProductImageUrl" [alt]="product.ProductName">
    <mat-card-content>
      <h5 class="large primary"><b>{{product.ProductName}}</b></h5>
      <h5 class="large primary"><b>Total Price: {{product.Amount * product.Quantity | currency}}</b></h5>
      <div class="primary">{{product.ProductDescription}}</div>
      <div class="primary">Amount: ${{product.Amount}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="remove()">-</button>
      <span class="center">{{product.Quantity}}</span>
      <button mat-raised-button color="primary" (click)="add()">+</button>
    </mat-card-actions>
</mat-card>
<button id="checkout-button" mat-raised-button color="primary" class="example-card" [disabled]="product.Quantity==0" (click)="proceed()">PROCEED TO CHECKOUT</button>