.example-card {
    width: 400px;
    margin-top: 25px;
}

.mat-card-image{
    height: 22rem;
}

.spinner-margin{
    margin: 5px 0 0 10px;
}

.shop-icon{
    margin-left: 5px;
    margin-top: 5px;
}