<h1 class="primary"><b>Subscription Options</b></h1>
<div fxLayout="row" class="selection-container" fxFill fxLayoutAlign="space-around center" >
    <mat-card *ngFor="let product of products" class="selection">
        <img mat-card-image [src]="product.imgSrc" alt="Basic">
        <mat-card-content>
            <h5 class="large primary"><b>{{product.name}} {{product.cost | currency}}</b></h5>
            <div class="primary">Per month (Billed monthly)</div><br>
        </mat-card-content>
        <mat-card-actions>
            <button style="width: 100%;" mat-raised-button color="primary" (click)="subscribe(product.priceId)">SELECT</button>
        </mat-card-actions>
    </mat-card>
</div>
