.selection{
    width: 300px;
    margin: 0 2rem;
}

.selection-container{
    margin-top: 50px;
    display: flex;
}

.action-button{
    align-self: flex-end;
}

.mat-card{
    display:flex;
    flex-direction: column;
  }
  
.mat-card-header {
    flex-shrink: 0;
}
  
.mat-card-content{
    flex-grow: 1;
    overflow: auto;
}