<h1 class="mat-headline primary"><b>SUBSCRIPTIONS</b></h1>

<div fxLayout="row" class="selection-container" fxFill fxLayoutAlign="space-around center" >
    <mat-card class="selection">
        <mat-card-content>
            <h5 class="large primary"><b>Basic {{costBasic | currency}}</b></h5>
            <div class="primary">Per month</div><br>
            <div class="primary">Billed monthly</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="subscribeBasic()">SELECT</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="selection">
        <mat-card-content>
            <h5 class="large primary"><b>Premium {{costPremium | currency}}</b></h5>
            <div class="primary">Per month</div><br>
            <div class="primary">Billed monthly</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="subscribePremium()">SELECT</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="selection">
        <mat-card-content>
            <h5 class="large primary"><b>Enterprise {{costEnterprise | currency}}</b></h5>
            <div class="primary">Per month</div><br>
            <div class="primary">Billed monthly</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="subscribeEnterprise()">SELECT</button>
        </mat-card-actions>
    </mat-card>
</div>
