<div class="container">
    <h1 class="mat-headline primary"><b>PREBUILD CHECKOUT PAGE</b></h1>
    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/item.jpg" alt="running shoe">
                <mat-card-content>
                <h5 class="large primary"><b>Running Shoe</b></h5>
                <h5 class="large primary"><b>Unpaired gray nike running shoe</b></h5>
                <div class="primary">Amount: $20</div>
                </mat-card-content>
                <mat-card-actions>
                <button mat-raised-button color="primary" (click)="remove()">-</button>
                <span class="center">{{count}}</span>
                <button mat-raised-button color="primary" (click)="add()">+</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <button mat-raised-button color="primary" [disabled]="count==0">PROCEED TO CHECKOUT</button>
        </div>
    </div>
    
</div>